@using Rails.Models
@model Rails.Models.PanelData

@{
    ViewBag.Title = "Panel";
}

<h2>Panel</h2>
<div class="container">
    <p>Trams: @Model.Trams.Count</p>
    <p>Tracks: @Model.Tracks.Count</p>

    <div class="row">
    @foreach (Track track in Model.Tracks)
    {

        <div class="col-md-10">
            <h3>@Html.DisplayText(track.Number.ToString())</h3>
            
        </div>
    }
    </div>
</div>

